.header-content {
    position: relative;
    width: 100%;
    &__container {
    @extend %container;
    display: grid;
     }
&__title {
    @include lg-min {
        font-size: 3.75rem;
        margin: 0 0 53px;
    }
    @include lg {
        font-size: 2.5rem;
        margin: 0 0 43px;
    }
    @include md {
        font-size: 1.875rem;
        margin: 0 0 35px;
    }
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.08em;
    font-family: $font-header;
    line-height: 1.2;
    }

&__buttons {
    justify-content: center;

    @include sm-min {
    display: flex;
    }
  }
}